<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<add key="OMDbAPI_Key" value="30169e52"/>

		<add key="YoutubeAPI_Key" value="AIzaSyA51Ttqhd9_nkWVVpJWwXvmDMIIvINOPCM"/>

	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
</configuration>